<div class="tw-p-8 tw-mb-8 tw-bg-gradient-to-l tw-from-sky-300 tw-to-sky-400 tw-rounded-xl tw-shadow-lg tw-relative tw-overflow-hidden tw-flex tw-items-center tw-space-x-8">
    <div class="tw-flex tw-flex-col items-center justify-center tw-w-1/5 tw-space-y-2">
        <img class="tw-h-24" src="{{ logo }}" alt="">
        <h1 class="tw-text-white tw-font-semibold tw-text-2xl tw-z-[2] tw-text-center tw-flex-nowrap">Jam Pelajaran <br> 2022</h1>
    </div>  
    <div class="tw-w-full"> 
        <div class="tw-flex tw-justify-between tw-relative tw-items-center tw-mx-6">
            {{#hundred}}
            {{> block_studia_jam_pelajaran/hundred }}
            {{/hundred}}   
            {{#fifty}}
            {{> block_studia_jam_pelajaran/fifty }}
            {{/fifty}}   
            {{#zero}}
            {{> block_studia_jam_pelajaran/zero }}
            {{/zero}}  
        </div>
        <div class="tw-flex tw-justify-between tw-relative tw-items-center tw-mx-2 tw-mt-2">
            <div class="tw-w-16 tw-rounded-xl tw-bg-yellow-400 tw-z-[3] tw-text-yellow-900 tw-font-semibold tw-py-2 tw-text-center"><span class="tw-text-2xl tw-font-semibold">0</span> <br> <span class="tw-text-yellow-900/75">course</span></div> 
            <div class="tw-w-16 tw-rounded-xl tw-bg-yellow-400 tw-z-[3] tw-text-yellow-900 tw-font-semibold tw-py-2 tw-text-center"><span class="tw-text-2xl tw-font-semibold">1</span> <br> <span class="tw-text-yellow-900/75">course</span></div> 
            <div class="tw-w-16 tw-rounded-xl tw-bg-yellow-400 tw-z-[3] tw-text-yellow-900 tw-font-semibold tw-py-2 tw-text-center"><span class="tw-text-2xl tw-font-semibold">2{{#plus}}+{{/plus}}</span> <br> <span class="tw-text-yellow-900/75">course</span></div> 
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-72 tw-flex-none tw-absolute tw-text-sky-200 tw-opacity-25 tw-top-0 -tw-right-14 tw-z-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
    </svg>
</div>