<div class="tw-w-[98%] tw-ml-[2%] tw-absolute tw-flex tw-items-center">
    <div class="tw-bg-sky-500 tw-w-full tw-h-2 tw-absolute tw-z-[2] tw-rounded-lg"></div>
    <div class="tw-bg-white tw-w-0 tw-h-2 tw-absolute tw-z-[2] tw-rounded-lg"></div>
</div>
<div class="tw-z-[3] tw-shadow-sm tw-border-[5px] tw-bg-white tw-border-green-600 tw-h-8 tw-w-8 tw-rounded-full tw-flex tw-items-center tw-justify-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-4 tw-w-4 tw-text-green-600 tw-font-semibold" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
</div>
<div class="tw-z-[3] tw-shadow-sm tw-border-[5px] tw-bg-sky-500 tw-border-sky-500 tw-h-8 tw-w-8 tw-rounded-full tw-flex tw-items-center tw-justify-center">
</div>
<div class="tw-z-[3] tw-shadow-sm tw-border-[5px] tw-bg-sky-500 tw-border-sky-500 tw-h-8 tw-w-8 tw-rounded-full tw-flex tw-items-center tw-justify-center">
</div>